
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    -webkit-box-shadow:0px 2px 2px #6E2C00;
    -moz-box-shadow:0px 2px 2px #6E2C00;
    box-shadow:0px 2px 2px #6E2C00;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    background-color: #777;
}
