*{
    margin:0;
    padding:0;
}

html, body, #background { min-height: 100vh; min-width: 100vw; background-color:#FFFFFF;}

body{
    font:160.5% "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align:center;
    background:#FFFFFF;
    color: #343434;
}

p { color: #343434; font-family: 'PT Sans', sans-serif; font-size: 18px; font-weight: 500; line-height: 25px; margin: 0 0 24px }


a { color: #c8c8c8; text-decoration: underline; }


a:hover { color: #1c1c1c; text-decoration: underline; }



a, a:visited {
    outline:none;
    color:#389dc1;
}

a:hover{
    text-decoration:inherit;
}

section, footer, header, aside, nav{
    display: block;
}

/*-------------------------
	The menu
--------------------------*/

#navBar{
    background:#ffab23;
}
#navCol a{
    display:inline-block;
    padding: 18px 30px;
    color:#fff !important;
    font-weight:bold;
    font-size:16px;
    text-decoration:none !important;
    line-height:1;
    text-transform: uppercase;
    background-color:transparent;

    -webkit-transition:background-color 0.25s;
    -moz-transition:background-color 0.25s;
    transition:background-color 0.25s;
}

p b{
    color: #4b4f49;
    display:inline-block;
    padding:5px 10px;
    border-radius:2px;
    font-size:18px;
}

#view-layout {
    padding-top: 6%;
}

table {
    table-layout: fixed;
    width: 100% !important;
    margin:  1% 1% 1% 1%;
}

td {
    padding-top: .5em;
    padding-bottom: .5em;
}

h3 {
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

.normal {
    text-align: left;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1.2em;
    word-wrap:break-word;
}

label .button-label{
    color: #080808;
}

/*Buttons*/

.worshipButton {
    -moz-box-shadow: 0px 1px 0px 0px #fff6af;
    -webkit-box-shadow: 0px 1px 0px 0px #fff6af;
    box-shadow: 0px 1px 0px 0px #fff6af;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
    background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
    background-color:#ffec64;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #ffaa22;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
}
.worshipButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
    background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
    background-color:#ffab23;
}
.worshipButton:active {
    top:1px;
    position: inherit;
}

body {
  min-height: 2000px;
  padding-top: 70px;
}
