<div layout="column">
    <div flex style="background: linear-gradient(to left, #FEF5E7, #ffffff); background: -webkit-linear-gradient(to left, #FEF5E7, #ffffff)">
        <table style="margin:5%; font-family: 'PT Sans', sans-serif">
            <thead class="thead-inverse">
            <tr>
                <td colspan="2" class="text-center"><h4 class="section-header"><span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> Worship and class times</span></h4></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="text-align: left">Sunday morning class  </td>
                <td>10:30  am</td>
            </tr>
            <tr>
                <td style="text-align: left">Sunday morning worship</td>
                <td>11:30  am</td>
            </tr>
            <!--<tr>-->
                <!--<td style="text-align: left">Sunday evening service </td>-->
                <!--<td>6:30  pm</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td style="text-align: left">Thursday bible class</td>-->
                <!--<td>7:00  pm</td>-->
            <!--</tr>-->
            </tbody>
        </table>
    </div>
    <div flex>
        <header><h4 class="section-header"><span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> Upcoming events</span></h4></header>
        <table style="font-family: 'PT Sans', sans-serif; background: linear-gradient(to left, #FEF5E7, #ffffff); background: -webkit-linear-gradient(to left, #FEF5E7, #ffffff)">
            <tr>
                <td>No upcoming event.</td>
            </tr>
        </table>
    </div>
    <div flex>
        <br>
        <h4 class="section-header"><span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"><a href="https://www.communitycentresuk.com/community-centres/parkside/" target="_blank"> We are here every sunday </a></span></h4>
<!--        <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2485.259124442865!2d-0.016390084892591247!3d51.47175777962929!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487602628e28a2e7%3A0x3cb92d1e17f6e225!2sCopperwood+Pl%2C+Greenwich%2C+London+SE10+8GD!5e0!3m2!1sen!2suk!4v1518905859330"-->
<!--                   width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></p>-->
        <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2485.7036117657763!2d-0.018107984231637262!3d51.463597979627934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487602659506cb0b%3A0xb4c56d83d11f9df!2sPrendergast%20Vale%20School!5e0!3m2!1sen!2suk!4v1663485316516!5m2!1sen!2suk"
                   width="100%" height="300"  style="border:2px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
    </div>

    <div flex  style="background: linear-gradient(to left, #FEF5E7, #ffffff); background: -webkit-linear-gradient(to left, #FEF5E7, #ffffff); text-align: left; padding: 5%">
        <h3 class="section-header"><span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s">2017 summer campaign</span></h3>
        <p><span>This years event was held on the 19th and 20th of August 2017</span></p>
        <table style="margin:5%; font-family: 'PT Sans', sans-serif;">
            <tbody>
            <tr>
                <td style="text-align: left">Day 1 lecture</td>
                <td>
                    <audio controls="controls" preload="none"  controlsList="nodownload" style="width: 100%">
                        <source src="http://lewishamchurchofchrist.co.uk/audio/summer_campaign_1.mp3">
                        <source src="http://lewishamchurchofchrist.co.uk/audio/summer_campaign_1.mp3" type="audio/ogg">
                        Your browser does not support the audio element.
                    </audio>
                </td>
            </tr>
            <tr>
                <td style="text-align: left">Day 2 Lecture</td>
                <td>
                    <audio controls="controls" preload="none"  controlsList="nodownload" style="width: 100%">
                        <source src="http://lewishamchurchofchrist.co.uk/audio/summer_campaign_2.mp3">
                        <source src="http://lewishamchurchofchrist.co.uk/audio/summer_campaign_2.mp3" type="audio/ogg">
                        Your browser does not support the audio element.
                    </audio>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
<!--<div flex>-->
    <!--<p>-->
        <!--<a href="#" class="worshipButton">-->
            <!--<label style="color: #101010; font-weight: 100">Looking for a christian home?</label><br>-->
            <!--<label>Worship <br> With <br> Us</label>-->
        <!--</a>-->
    <!--</p>-->
    <!--<p>-->
        <!--<a href="#" class="worshipButton">-->
            <!--<label style="color: #101010; font-weight: 100">Want to learn about the bible?</label><br>-->
            <!--<label>Learn <br> With <br> Us</label>-->
        <!--</a>-->
    <!--</p>-->
    <!--<p>-->
        <!--<a href="#" class="worshipButton">-->
            <!--<label style="color: #101010; font-weight: 100">Want to get involved with us?</label><br>-->
            <!--<label>Serve <br> With <br> Us</label>-->
        <!--</a>-->
    <!--</p>-->
</div>