<div >
        <div style="text-align: left">
            <div class="section-content">
                <h1 class="section-header"><span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> Salvation comes through a cross and a crucified Jesus.</span></h1>
            </div>
            <div>
               <p> We are a warm group of Christians who are striving to worship God in the same way that the first century
                Christians did.
               </p>
                <p>In this way we are striving to continue the divine unity that Jesus prayed for (John 17v 21).
            The church of Christ has congregations throughout the United Kingdom and all over the world. However we
            have no central organization on earth, but we have a common cause: to be the Church as it was when first
            instituted by the Lord Jesus Christ.
            </div>

        </p>
        </div>
</div>
<div  style="padding-top: 1%">
    <div style="text-align: center">
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <img ng-src="{{slide.image}}" class="img-responsive" style="height: 350px; width: 1000px">
                <div class="carousel-caption">
                    <h1>{{slide.title}}</h1>
                    <p>{{slide.text}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div layout="column" style="padding-top: 1%">

    <div  style="border-bottom: solid #4b4f49; text-align: left">
        <h3 class="section-header"><span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s">Recent Sermons</span></h3>
    </div>
    <div>
        <table style="font-family: 'PT Sans', sans-serif;">
            <thead class="thead-inverse">
            <tr>
                <td colspan="1" class="text-center"><h4 class="section-header"><span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"></span></h4></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="sermon in sermons">
                <td style="text-align: left">{{sermon.title}}</td>
                <td>{{sermon.date}}</td>
                <td>By: {{sermon.preacher}}</td>
                <td>
                    <audio controls="controls" preload="none"  controlsList="nodownload" style="width: 100%">
                        <source src="{{sermon.audio_link_mp3}}">
                        <source src="{{sermon.audio_link_ogg}}" type="audio/ogg">
                        Your browser does not support the audio element.
                    </audio>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>