<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lewisham Church of christ</title>
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css">


    <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="../bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular-messages/angular-messages.min.js"></script>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">

    <link href="../css/simple-sidebar.css" rel="stylesheet">
    <link href="../css/carousel.css" rel="stylesheet"/>
</head>

<body ng-app="churchOfChristApp" ng-controller="appController"  ng-cloak>


<script type="text/javascript" src="../js/app.js"></script>
<script type="text/javascript" src="../js/route-provider.js"></script>
<script type="text/javascript" src="../js/churchAppController.js"></script>
<!-- Adding the ng-app declaration to initialize AngularJS -->
<div id="main" class="container-fluid">
    <md-content class="md-padding">
        <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
            <md-nav-item  md-nav-href="#!/home" name="home" value="home">Home</md-nav-item>
            <md-nav-item md-nav-href="#!/about" name="about" value="about">About</md-nav-item>
            <md-nav-item md-nav-href="#!/ministries" name="ministries" value="ministries">Ministries</md-nav-item>
            <md-nav-item md-nav-href="#!/contact" name="contact" value="contact">Contact</md-nav-item>
            Hi
        </md-nav-bar>

        <div class="row">
            <div class="col-sm-1"></div>
            <div  id="pageLayout" class="col-sm-10" ng-view></div>
            <div class="col-sm-1"></div>
        </div>
    </md-content>
</div>

<!-- FOOTER -->
<footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2016 LCOC. &reg;
</footer>

<!--Scripts-->
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.1.4.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<!--<script>-->
    <!--$("#navBar a").on("click", function(){-->
        <!--$("#navBar").find(".active").removeClass("active");-->
        <!--$(this).parent().addClass("active");-->
    <!--});-->
<!--</script>-->
</body>
</html>