<h2 class="section-header"><span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s">BIBLE STUDY RESOURCES</span></h2>

<div>
    <table class="table table-hover">
        <thead class="thead-inverse">
        <tr>
            <td colspan="2" class="text-center"><h3 style="text-align: left; color: #5e5e5e">Study with the Lewisham Church of Christ</h3></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="text-align: left; border: none"><a href="http://www.lavistachurchofchrist.org/">Lavista Church of christ</a> </td>
        </tr>
        <tr>
            <td style="text-align: left; border: none"><a href="http://www.christian-worker.org.uk/">Christian Worker</a> </td>
        </tr>
        <tr>
            <td style="text-align: left; border: none"><a href="https://www.christiancourier.com/">Christian Courier</a> </td>
        </tr>
        <tr>
            <td style="text-align: left; border: none"><a href="http://www.churchzip.com/">Church Zip</a> </td>
        </tr>
        <tr>
            <td style="text-align: left; border: none"><a href="http://www.worldbibleschool.org/">World Bible College</a> </td>
        </tr>
        <tr>
            <td style="text-align: left; border: none"><a href="http://www.comehome.me.uk/"> Come Home</a> </td>
        </tr>
        <tr>
            <td style="text-align: left; border: none"><a href="http://www.padfield.com/">Padfield</a> </td>
        </tr>
        <tr>
            <td style="text-align: left; border: none"><a href="http://www.westark.org/">West Ark</a> </td>
        </tr>
        </tbody>
    </table>

</div>

<div>
    <div>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/zSIp1qFqdZ4" frameborder="0" allowfullscreen></iframe>
    </div>
    <div>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/htJJNaVCXRY" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
